<script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-analytics.js"></script>
<script>
  var firebaseConfig = {
    apiKey: "AIzaSyDUD_XIEgnC9xih-rtwQty2PYMsLtbTTk0",
    authDomain: "nextjob-9bd0e.firebaseapp.com",
    databaseURL: "https://nextjob-9bd0e.firebaseio.com",
    projectId: "nextjob-9bd0e",
    storageBucket: "nextjob-9bd0e.appspot.com",
    messagingSenderId: "34617150596",
    appId: "1:34617150596:web:7d116a8889ea2d83c006d1",
    measurementId: "G-NRKM04FXY6"
  };
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>