{{>header}}
     

   
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us  ">
        <div class="container">
            <div class="text-center p-2 my-4">
                <h1 class="h1 border-bottom">Everything about nextjob way of service delivery</h1>
            </div>
            <h2 class="text-center">Learn more about our company</h2>
            <p class="lead text-center">You will find all online resources by contacting us <a href="/contact">here</a></p>
          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="card">
                <img src="assets/img/why-us-1.jpg" class="card-img-top" alt="...">
                <div class="card-icon">
                  <i class="bx bx-book-reader"></i>
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="">Our Mission</a></h5>
                  <p class="card-text">Focus on solving the problems first, getting more people to fill positions that enable them to be productive instead, finding the right candidates to match suitable positions available, keeping outright communication open between employer and employee relations </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="card">
                <img src="assets/img/why-us-2.jpg" class="card-img-top" alt="...">
                <div class="card-icon">
                  <i class="bx bx-calendar-edit"></i>
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="">Our Plan</a></h5>
                  <p class="card-text">We aim to attain highest level of competency for our clients, reducing the waiting period for job seekers with regard to responses for applied roles, provide quicker way to match candidates with the relevant skills </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="card">
                <img src="assets/img/why-us-3.jpg" class="card-img-top" alt="...">
                <div class="card-icon">
                  <i class="bx bx-landscape"></i>
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="">Our Vision</a></h5>
                  <p class="card-text">Ensure that every successful candidate gets atleast 2-3 interviews a month, improve person to person interactions instead of using systems like Indeed, Careers24 to automate, people understand others employers require individuals not machines to work for them and we think outside the box. </p>
                </div>
              </div>
            </div>
          </div>
  
        </div>

        <div class="container my-5">
          <h3 class="h3">Partners & Associates</h3>
          <p class="lead">
            We are associated with the following companies & network associates
          </p>

          <div class="row">
            <div class="col-md-4">
              <a href="https://mondaycom.grsm.io/nextjob">
                <img src="assets/img/mondaydotcom.svg" alt="Partner Monday" class="w-100">
              </a>
             
            </div>
            <div class="col-md-4">
  <a href="/contact">
                <img src="img/TM_Partner-Program_Bronze_Logo_150331.png" alt="Partner Monday" class="w-100">
              </a>
            </div>
            <div class="col-md-4">
 <a href="/contact">
                <img src="img/logo-outgrow.png" alt="Outgrow Brand" class="w-100">
              </a>
            </div>
              <div class="col-md-4">
 <a href="/contact">
                <img src="pastel-campaign/Pastel-logo-color.png" alt="Pastel" class="w-100">
              </a>
            </div>
          </div>
        </div>

        <div class="container my-5">
          <h3 class="h3">3rd Party Payment Processors</h3>
          <p class="lead">
            We secure payments through Capitec EFT, Paypal and Payfast.
          </p>

          <div class="row">
            <div class="col-md-4">
              <a href="https://capitec.co.za">
                <img src="assets/img/capitec-logo.svg" alt="Partner Monday">
              </a>
            </div>
            <div class="col-md-4">
              
            </div>
            <div class="col-md-4">
               
            </div>
          </div>
        </div>
      </section><!-- End Why Us Section -->
  
     
 



{{>footer}}