include partials/header.pug

div.container.border-bottom
    div.row 
        div.col-md-2 
        div.col-md-8.text-center
            h1.h1=title
            p.lead= message            
        div.col-md-2

include partials/footer.pug