{{>header}}

{{>slider}}

<style>
    /**
        PASTEL CAMPAIGN ADVERTISEMENT
        WEBSITE DEVELOPER
        */
    @media (min-width: 600px) {
        .pastel {
            display: block;
        }

        .pastel-mobile {
            display: none;
        }
    }

    @media (max-width: 599px) {
        .pastel-mobile {
            display: block;
        }

        .pastel {
            display: none;
        }
    }
</style>

<div class="container my-5">
    <h1 class="h1">Your bright future headstart</h1>
    <p class="lead">
        What makes it the next level recruitment, it is the future that the world is facing, after the hard work at
        school one truly deserves a break, everyone needs it even if it means a change of career, we got you covered to
        enable a smooth transition towards your dreams
    </p>
    <div class="my-5"></div>

    <div class="row  my-5">
        <div class="col-md-8 my-5">
            <img src="img/home-left.jpg" alt="left-banner" class="w-100">
        </div>
        <div class="border-left col-md-4">
            <h2 class="h2">
                Go digital
            </h2>
            <p class="lead">

                <b>Generate Interactive and Personalized Content Ideas: </b> <a
                    href="https://outgrow.co/idea-generation/ ">https://outgrow.co/idea-generation</a>,
                building websites that offer great content takes time,
                every affiliate marketer working with nextjob knows this,
                earning commissions for every sale is safer,
                better than traditional advertising methods that requires payments,
                such advertising campaigns include Google Adwords,
                paying for impressions, clicks is what most giant coorporations do these days
            </p>
            <p class="lead"> <b>Interactive Content Strategy Whitepaper For Your Industry: </b><a
                    href="https://get.outgrow.co/interactive-content-whitepaper-for-all-industries/">https://get.outgrow.co/interactive-content-whitepaper-for-all-industries/</a>
                , learn the industry secrets of creating content, thus boosting website SEO in the process,
                there are many strategies for doing that,
                we have a list of books to help you get started with building professional content,
                relevant books and ebooks are available for you free of charge on the links below.
            </p>
        </div>
    </div>




    <h3 class="h3">Ebooks and other Freebies:</h3>
    <p class="lead">

        <b>Quiz Title Checklist:</b> learn how to make and craft titles that read and engage the users on your website,
        all the tips and tricks on creating effective titles for you quizzes with many examples online,
        Outgrow your competition by having the most engaging titles for your website content,
        build memorable titles, increase website audience for your business and social media following on your business
        pages
        <a href="https://get.outgrow.co/outgrow-quiz-title-checklist/ ">https://get.outgrow.co/outgrow-quiz-title-checklist/
        </a>
    </p>

    <div class="text-center align-center my-5">
        <div class="pastel">
            <a href="https://pastel.grsm.io/nextjob">
                <img src="https://nextjob.co.za/pastel-campaign/728x90 Leaderboard - Yellow.png" alt="pastel system">
            </a>
        </div>
        <div class="pastel-mobile">
            <a href="https://pastel.grsm.io/nextjob">
                <img src="https://nextjob.co.za/pastel-campaign/320x50 Mobile Leaderboard - Green.png"
                    alt="pastel system">
            </a>
        </div>
    </div>


    <div class="row bg-light ">
        <div class="col-md-6 border-right">
            <h3 class="h3">70 Lead generating tips for small business startups</h3>
            <p class="lead">
                Have you ever wondered what is the right formula?
                How every successful business seems to attract the right people on their website,
                suddenly your business tries the same without success,
                when things happen this way everything seems like one big magic show,
                there is no need to worry anymore about how to generate leads for your website, here are the tips:
                <a href="https://get.outgrow.co/ebook-70-lead-generation-tips/ ">https://get.outgrow.co/ebook-70-lead-generation-tips/
                </a>

            </p>

            <p class="lead">
                Start building interactive content, marketing tips for Digital Agencies,
                this is also known as dynamic content served by websites, tailored for every user depending on their
                interests
                and likes,
                you too can start working on interactive content,
                increase user engagement with your website visitors,
                this helps highlight the most important aspects of your product or service,
                simplifies lead generation thus helping the website be more user friendly,
                these will assist your business to gain more followers,
                just think of how technical SEO works, even with your website optimized externally using off-page
                techniques,
                your website content needs to be interactive to engage users,
                this is what drives website success in the eCommerce sector,
                showcase your products the smartest way through interactivity here is a full way on how to do it:
            </p>

            <img src="img/bottom-banner.jpg" alt="left-banner" class="w-100">
        </div>
        <div class="col-md-6">
             <img src="img/right-banner.jpg" alt="right-banner" class="w-100">

 <div class="my-3">
   <h3>Quick Resources</h3>
 </div>
          
           <a
                    href="https://get.outgrow.co/interactive-content-marketing-for-digital-agencies/">https://get.outgrow.co/interactive-content-marketing-for-digital-agencies/</a>

            </p>
            <p class="lead">Quiz and Calculator Ideas Worksheet:
                <a
                    href="https://get.outgrow.co/quiz-and-calculator-ideas-worksheet/">https://get.outgrow.co/quiz-and-calculator-ideas-worksheet/</a>
            </p>

            <p class="lead">

                Marketing Dictionary Outgrow:
                <a href="https://get.outgrow.co/marketing-dictionary-outgrow/ ">https://get.outgrow.co/marketing-dictionary-outgrow/
                </a>

            </p>
            <p class="lead">
                Ultimate eCommerce Checklist:
                <a href="https://get.outgrow.co/ultimate-ecommerce-cro-checklist/ ">https://get.outgrow.co/ultimate-ecommerce-cro-checklist/
                </a>

            </p>
            <p class="lead">
                Guide to Building Viral Quizzes and Calculators:
                <a
                    href="https://get.outgrow.co/guide-to-building-viral-quizzes-and-calculators/">https://get.outgrow.co/guide-to-building-viral-quizzes-and-calculators/</a>

            </p>
            <p class="lead">

                Interactive Content Best Practices:
                <a
                    href="https://get.outgrow.co/interactive-content-best-practices/">https://get.outgrow.co/interactive-content-best-practices/</a>

            </p>

            <p class="lead">

                eBook eCommerce List Building Strategies:
                <a
                    href="https://get.outgrow.co/ebook-ecommerce-list-building-strategies/">https://get.outgrow.co/ebook-ecommerce-list-building-strategies/</a>

            </p>
            <p class="lead">
                Dos, Donts Interactive Experiences:
                <a href="https://get.outgrow.co/dos-donts-interactive-experiences/ ">https://get.outgrow.co/dos-donts-interactive-experiences/
                </a>

            </p>
            <p class="lead">

                Ultimate Holiday Marketing Checklist:
                <a
                    href="https://get.outgrow.co/checklist-the-ultimate-holiday-marketing-checklist/">https://get.outgrow.co/checklist-the-ultimate-holiday-marketing-checklist/</a>

            </p>
        </div>
    </div>






    <div class="text-center align-center my-5">
        <div class="pastel">
            <a href="https://pastel.grsm.io/nextjob">
                <img src="https://nextjob.co.za/pastel-campaign/728x90 Leaderboard - Yellow.png" alt="pastel system">
            </a>
        </div>
        <div class="pastel-mobile">
            <a href="https://pastel.grsm.io/nextjob">
                <img src="https://nextjob.co.za/pastel-campaign/320x50 Mobile Leaderboard - Green.png"
                    alt="pastel system">
            </a>
        </div>
    </div>



</div>
{{>footer}}