{{>header}}

<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Disclosure</h1>

            <p class="lead">
  The company "BD Group (Pty) Ltd" t/a Nextjob 
                    offer full ICT commercial business services to the general public
                    as per agreement, since the launch date of 12 May 2016,
                    "BD Group (Pty) Ltd" is liable for all loss or information, any other means of communication,
                    any technology used by the company, internal systems including the storage of customer profiles,
                    the customer herein, the company "BD Group (Pty) Ltd" refers to "Consumers of Goods and Services",
                    not limited to how the business service is rendered without limits. 

            </p>
            <p class="lead"></p>
        </div>
    </div>
</div>
  

{{>footer}}