{{>header}}

    <div class="container my-5">
        <div class="row">
            <div class="col-md-8   my-5 p-3">
                <h1 class="h1">How to register</h1>
                <p class="lead">Join our network to start earning from your social media account,
                    you need an approved account to register,
                    in order to register you need to chat with us.
                </p>

                <h2>Getting approved</h2>
                <p class="lead">
                    You will get notified by our administrator, 
                    upon approval you will be sent login credentials,
                    you may use your credentials to set your costings,
                    adjust how much you need to charge per tweet or social post.
                </p>
                <h3>Payment method</h3>
                <p class="lead">
                    We make payment using EFT, a verified account is required if you expect to be paid via EFT.
                    Paypal users must verify also to get approved.
                    This is a once-off activation fee, non-refundable.
                </p>
                <p class="lead">
                        <a class="btn btn-lg btn-danger p-2 shadow" href="https://www.payfast.co.za/eng/process?cmd=_paynow&receiver=11511929&item_name=Account+verification&amount=5.00&return_url=https%3A%2F%2Fnextjob.co.za%2Fverification-pending&cancel_url=https%3A%2F%2Fnextjob.co.za%2Fverification-error">VERIFY NOW</a>
                </p>
            </div>
        </div>
    </div>

{{>footer}}