{{>header}}

    <div class="container my-5 text-center">
        <div class="my-5">
            <h1 class="h1">Account does not exist</h1>
            <p class="lead text-danger">Your account is not registered on our system</p>
        </div>
    </div>

{{>footer}}