{{>header}}

<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="h1">PAIA</h1>
            <p class="lead">
            This Manual is published in terms of Section 51 of the Promotion of Access to Information Act, 2000 (Act No. 2 of 2000) ("the Act"). The Act gives effect to the provisions of Section 32 of the Constitution.
            </p>
            <h2 class="h2">
Promotion of Access to Information
            </h2>

            <p class="lead">
                This Manual is published in terms of Section 51 of the Promotion of Access to Information Act, 2000 (Act No. 2 of 2000) ("the Act"). The Act gives effect to the provisions of Section 32 of the Constitution, which provides for the right of access to information held by the State and to information held by another person that is required for the exercise and/or protection of any right.
            </p>

            <p class="lead">
                Nextjob. provides Internet Services and Access to its customers, in both the corporate and home market.
            </p>
            <p class="lead">
                Nextjob. supports the constitutional right of access to information and we are committed to provide you access to our records in accordance with the provisions of the Act, the confidentiality we owe third parties and the principles of South African law.
            </p>
            <h3 class="h3">Availability of this Manual</h3>
            <p class="lead">
                A copy of this Manual is available by sending a request for a copy to the Information Officer by email. The Manual may also be obtained from the South African Human Rights Commission ("SAHRC") at the addresses set out below. This Manual will be updated from time to time, as and when required.
            </p>
            <h3 class="h3">How to Request Access to Records Held By BD Group (PTY) Ltd. t/a Nextjob</h3>
            <p class="lead">
                Requests for access to records held by the Bdgroup (Pty) Ltd. must be made on the request form that is available on our website, from the SAHRC website (www.sahrc.org.za) or the Department of Justice and Constitutional Development (www.doj.gov.za) (under "regulations"). Note that requests need not be accompanied by payment BUT will only be processed upon payment of the prescribed fees.
            </p>
            <p class="lead">Requests for access to records must be made to our Information Officer at the address, fax number or electronic mail address provided for below.</p>
            <p class="lead">The requester must provide sufficient detail on the request form to enable the Information Officer to identify the record and the requester. The requester should also indicate which form of access is required and indicate if he or she wishes to be informed in any other manner and state the necessary particulars to be so informed.</p>
            <p class="lead">The requester must identify the right that he or she is seeking to exercise or protect and provide an explanation of why the requested record is required for the exercise or protection of that right. If a request is made on behalf of a person, the requester must then submit proof of the capacity in which the requester is making the request to the satisfaction of the Information Officer of the Bdgroup (Pty) Ltd.</p>
            <p class="lead">The standard form that must be used for the making of requests is attached as Annexure 1. Not using this form could cause your request to be refused (if you do not provide sufficient information or otherwise) or delayed.</p>
            <p class="lead">Kindly note that all requests to Bdgroup (Pty) Ltd. will be evaluated and considered in accordance with the Act. Publication of this manual and describing the categories and subject matter of information held by Bdgroup (Pty) Ltd. does not give rise to any rights (in contract or otherwise) to access such information or records except in terms of the Act.</p>
            <p class="lead"></p>
            <h3 class="h3">Contact Details</h3>
            <ul class="lead">
                <li>Name of Private Body: Bdgroup (PTY) Ltd</li>
                <li>Designated Information Officer: Matyila Nomakhosi</li>
                <li>Email address of Information Officer: recruitment@bdgroup.co.za</li>
                <li>Postal Address: 3763, Bluegum road, Stretford, Gauteng, 1984, South Africa</li>
                <li>Phone Number: +27 87 057 1581</li>
            </ul>
            <h3 class="h3">How to Access the Guide as Described in Section 10 of the Act</h3>
            <p class="lead">
                The Guide described in Section 10 of the Act is due in August 2003. From that date it will be available from the South African Human Rights Commission. Please direct any queries to:
            </p>
            <h4 class="h4">The South African Human Rights Commission:</h4>
            <p class="lead">
                PAIA Unit
The Research and Documentation Department <br>
Postal address: Private Bag 2700 <br>
Houghton <br>
2041 <br>
            </p>
            <p class="lead">Telephone: +27 11 484-8300</p>
        </div>
    </div>
</div>


{{>footer}}