{{>header}}


<div class="container my-5">
    <h1 class="h1">Pastel for Agencies</h1>

    <p class="lead">
As a digital agency, you’re always under pressure
to get projects done and deliver on time. There are
many things that can get in your way, but getting
feedback from your clients and team shouldn’t be
one of them.
    </p>

    <p class="lead">
Limiting back-and-forth and enabling your clients
to give clear and actionable feedback will allow you
to build things your clients love, in less time. This is
where Pastel comes in!
    </p>
      <a href="https://pastel.grsm.io/nextjob" class="btn btn-danger btn-lg   my-5">
               LEARN MORE
            </a>

    
<h2>Why Pastel is the most powerful choice for agencies</h2>

<div class="row">
    <div class="col-md-6 bg-light p-2">
        <p class="lead">Give visual feedback directly on websites.
With any device on any browser.</p>
        <p class="lead">Comment in real-time and get on the same
page as your team</p>
        <p class="lead">Invite clients to comment with a link. No
account or installations needed</p>



    </div>
      <div class="col-md-6 bg-light p-2">
          <p class="lead">Create a canvas out of any website and get
your point across in seconds.</p>
          <p class="lead">
              Automatically create tickets and tasks into
other tools </p>

<a href="https://pastel.grsm.io/nextjob" class="btn btn-danger btn-lg my-5">
               TRY PASTEL FOR FREE
            </a>
          
      </div>
</div>

</div>
{{>footer}}