{{>header}}

<div class="container my-5">
    <h1>Pastel for
Marketing teams</h1>


<p class="lead">
   <b> Managing the marketing pages for your company is no easy
task.</b> Everyone is trying to get their message across and each
page has multiple stakeholders that want to give their input. There
are many things that can get in the way of a successful launch, but
getting feedback from your team shouldn’t be one of them. 
</p>

<p class="lead">
    Limiting back-and-forth and enabling your team to give clear and
actionable feedback will allow you to build websites that convert
better, in less time. This is where Pastel comes in!
</p>
  <a href="https://pastel.grsm.io/nextjob" class="btn btn-danger btn-lg   my-5">
               LEARN MORE
            </a>

<h2>Why Pastel is the most powerful choice for marketing teams</h2>

<div class="row">
    <div class="col-md-6 bg-light p-2">
        <p class="lead">Give visual feedback directly on websites.
With any device on any browser.</p>
        <p class="lead">Comment in real-time and get on the same
page as your team</p>
        <p class="lead">Invite clients to comment with a link. No
account or installations needed</p>


    </div>
      <div class="col-md-6 bg-light p-2">
          <p class="lead">Create a canvas out of any website and get
your point across in seconds.</p>
          <p class="lead">
              Automatically create tickets and tasks into
other tools
          </p>

        <a href="https://pastel.grsm.io/nextjob" class="btn btn-danger btn-lg btn-block p-2 my-5">
               TRY PASTEL FOR FREE
            </a>
      </div>
</div>
</div>

{{>footer}}