{{>header}}
     

   
     <!-- ======= About Section ======= -->
  <section id="about" class="about  ">
    <div class="container ">
      
      <div class="row">
        <div class="col-md-6"> <iframe width="100%" class="w-100" height="360" src="https://www.youtube.com/embed/BjVoPkdtOuM?rel=0&playlist=0&loop=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
          <h1 class="h1">Our unique process for success at nextjob</h1>
          
          <p class="lead">
            We present to you NextJob a quicker, even simple way for you to find work,
            the purpose is to give you a clear understanding of what recruitment is,
            while many companies have turned towards automation, we trust machines but not for everything a human touch adds something special.
          </p>
           
          <p class="lead">
            <a href="/about" class="btn btn-info btn-block">LEARN MORE</a>
            </p>
        </div>
        <div class="container my-5">
          <h3 class="h3">Easy work schedules and tracking</h3>
          <p class="lead">
            Join our team to start working or receiving tasks and work from home, our processes are fully automated online to save you time, everything in real-time for you to submit your work
          </p>
        </div>
       
        <div class="row text-center align-center my-3">
          
          <div class="col-md-4">
            <a href="https://mondaycom.grsm.io/nextjob">
              <img   src="assets/img/Dashboard.gif" class="w-100">
            </a>
         </div>
         <div class="col-md-4">
          <a href="https://mondaycom.grsm.io/nextjob">
            <img   src="assets/img/Automations.gif" class="w-100">
          </a>
       </div>
       <div class="col-md-4">
        <a href="https://mondaycom.grsm.io/nextjob">
          <img   src="assets/img/Integrations.gif" class="w-100">
        </a>
     </div>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <div class="banner-main"></div>
 
     
      <!-- ======= Why Us Section ======= -->
      <section id="why-us" class="why-us  ">
          <div class="container">
            <h2 class="h2">Making the right career decisions</h2>
            <p class="lead">
              Making us your first choice when you are looking for the next career move.
            </p>
            <div class="row">
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="card">
                  <img src="assets/img/why-us-1.jpg" class="card-img-top" alt="...">
                  <div class="card-icon">
                    <i class="bx bx-book-reader"></i>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"><a href="https://mondaycom.grsm.io/nextjob">The Specifics</a></h5>
                    <p class="card-text">At NextJob we implement strategies using machine learning algorithms, but a real human goes through your CV to match your skills, there is a personality trait to how certain CV's are designed and organized </p>
                    <a href="/about" class="btn btn-block btn-info">LEARN MORE</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="card">
                  <img src="assets/img/why-us-2.jpg" class="card-img-top" alt="...">
                  <div class="card-icon">
                    <i class="bx bx-calendar-edit"></i>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"><a href="https://mondaycom.grsm.io/nextjob">Measures of Success</a></h5>
                    <p class="card-text">At NextJob we work with people like you, we cannot guarantee you a job but we do keep record of all the interviews with our clients, 80% success rate on all interviews we arrange for you the rest is up to you, NextJob will help you get 2-3 interviews every month. </p>
                    <a href="/about" class="btn btn-block btn-info">LEARN MORE</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="card">
                  <img src="assets/img/why-us-3.jpg" class="card-img-top" alt="...">
                  <div class="card-icon">
                    <i class="bx bx-landscape"></i>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"><a href="https://mondaycom.grsm.io/nextjob">Timeframes</a></h5>
                    <p class="card-text">Every candidate is different that is why at NextJob we a have unique plan of action for every client, this provides opportunity for candidates to have higher chances of getting interviewed </p>
                    <a href="/about" class="btn btn-block btn-info">LEARN MORE</a>
                  </div>
                </div>
              </div>
            </div>
    
          </div>
        </section><!-- End Why Us Section -->
    
        <section >
          <div class="container my-4">
            <div class="row">
              <h3 class="h3">What's your next project?</h3>
              <p class="lead">
                Learn how to build your own cloud droplet within few minutes, DigitalOcean allows every business owner to start their own online cloud instances readily available on their market place,
                to <a href="https://m.do.co/c/d58445494220">sign up simply click here.</a>
              </p>
              <p class="lead">
                Here are the list of service categories you can explore or discover at a DigitalOcean space:
                <br/>
               
              </p>
              
            </div> 
           <ul class="list-group">           
              <li class="list-group-item">Developer Tools <a href="https://m.do.co/c/d58445494220">View more</a></li>
              <li class="list-group-item">Frameworks <a href="https://m.do.co/c/d58445494220">View more</a></li>
              <li class="list-group-item">Blogs and Forums <a href="https://m.do.co/c/d58445494220">View more</a></li>
              <li class="list-group-item">Databases <a href="https://m.do.co/c/d58445494220">View more</a></li>
              <li class="list-group-item">Monitoring <a href="https://m.do.co/c/d58445494220">View more</a></li>
              <li class="list-group-item">Functions <a href="https://m.do.co/c/d58445494220">View more</a></li>
              <li class="list-group-item">Kubernets <span class="badge badge-round badge-primary">NEW</span> <a href="https://m.do.co/c/d58445494220">View more</a></li>
             
          </ul>
         
          <div class="row">
            <div class="col-md-12 my-4">
              <h3 class="h3">Guaranteed uptime for our platform</h3>
              <p class="lead">
                Our network utilises the leading <a href="https://m.do.co/c/d58445494220">DigitalOcean</a> space, any downtime we experience will be due to service updates and upgrades prior to email notification,
                we trust that all our services will be fully functional under any circumstances, make use of the online platform to register your profile and interact with our service providers without visiting the offices.
              </p>
                 <div class="my-3">
     <a href="https://mondaycom.grsm.io/nextjob" class="btn btn-lg btn-success">LEARN MORE</a>
           
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12 my-4">
              <h3 class="h3">Working from home</h3>
              <p class="lead">
               With our increasing demand of workers applying for work, we also ensure that we have a 5%-10% rejection rate and about 90% hire rate, the strategy we employ is the work from home plan for employees who can't reach the office, our servers are backed by <a href="https://m.do.co/c/d58445494220">DigitalOcean</a> space.
              </p>
                 <div class="my-3">
     <a href="https://mondaycom.grsm.io/nextjob" class="btn btn-lg btn-success">GET BETTER RESULTS FROM HOME</a>
           
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12 my-4">
              <h3 class="h3">Submit your work for a review</h3>
              <p class="lead">
                We make use of timesheets, logs, tracing tools using cloud platforms to track any tasks pending that get assigned to our consultants,
                through our platform which highly supports high volume of uploads, any consultants may raise issues by opening a ticket if any issues arise.
               <a href="/">more cloud solutions to boost your business revenue</a> 
              </p>
                 <div class="my-3">
     <a href="https://mondaycom.grsm.io/nextjob" class="btn btn-lg btn-success">EASE THE FLOW OF REVIEWS</a>
           
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 my-4">
              
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/8ELpzmNeS4M?start=53" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              
              <h3 class="h3 my-3">How to manage your workflow with NextJob?</h3>
               
              <p class="lead">
                NextJob uses <a href="https://mondaycom.grsm.io/nextjob">Monday.com</a> to fully automate the process of managing projects, unlike other products in order to fully work with nextjob you need to have a <a href="https://mondaycom.grsm.io/nextjob">Monday.com</a> account, this applies to also candidates looking for work from home projects,
                we have have outlined simple steps on how to first register your <a href="https://mondaycom.grsm.io/nextjob">Monday.com</a> account so <a href="https://mondaycom.grsm.io/nextjob">click here to get started</a>, 
                we will be able to track your work in real-time while you work with us, also visualize progress tasks at a glance with kanbans, graphs and more.
                </p>
                <p class="lead">
                  If we have not provided you with work email yet, do not worry <a href="https://mondaycom.grsm.io/nextjob">Monday.com</a> will work just fine with any Google Gmail account, you can get more resources <a href="/about">by clicking here to learn more</a>
                </p>

              <div class="my-3">
     <a href="https://mondaycom.grsm.io/nextjob" class="btn btn-lg btn-success">IMPROVE TEAM STRATEGIES</a>
           
              </div>
            </div>
          </div>
           
          </div>
          <div class="container">
            <div class="row text-center align-center my-3">
              <div class="col-md-4">
                <a href="https://mondaycom.grsm.io/nextjob">
                  <img   src="assets/img/Dashboard.gif" class="w-100">
                </a>
             </div>
             <div class="col-md-4">
              <a href="https://mondaycom.grsm.io/nextjob">
                <img   src="assets/img/Automations.gif" class="w-100">
              </a>
           </div>
           <div class="col-md-4">
            <a href="https://mondaycom.grsm.io/nextjob">
              <img   src="assets/img/Integrations.gif" class="w-100">
            </a>
         </div>
            </div>
          </div>
        </section><!-- End About Section -->




{{>footer}}