include partials/header.pug 

div.container 
    div.row 
        div.col-md-2 
        div.col-md-8 
            div.border-bottom 
                h1.h1 Services disclosure 
                p.lead.
                    The company "BD Group (Pty) Ltd" t/a Nextjob 
                    offer full ICT commercial business services to the general public
                    as per agreement, since the launch date of 12 May 2016,
                    "BD Group (Pty) Ltd" is liable for all loss or information, any other means of communication,
                    any technology used by the company, internal systems including the storage of customer profiles,
                    the customer herein, the company "BD Group (Pty) Ltd" refers to "Consumers of Goods and Services",
                    not limited to how the business service is rendered without limits. 

                p.lead.
                    A complete disclosure of business services includes the following key areas: 
                ul
                    li Information technology architecture & network communications
                    li Artificial integrations of Machine Learning algorithms for automation
                    li Website development, design and deployment of Kubernetes, Dockers, Cloud platforms 
                    li Other Information technology related services
        div.col-md-2

include partials/footer.pug 