{{>header}}
    <div class="container my-5">
        <h1 class="h1">Creating your first affiliate page</h1>
        <p class="lead">
            Joining an affiliate network is the first step in your marketing goals, getting approved by the affiliate manager is the most important step, 
            for others this is the beginning of a whole new problem, finding developers and saving costs for your new startup.
        </p>
        <h2 class="h2">Complete guidelines on how to setup your landing pages</h2>
        <p class="lead">
            Landing pages will assist you directing each user on your page, 
            taking into account what the user is expected to do,
            what is really expected from the user upon each sign up on your page,
            each user is different, keeping your affiliate page easy to understand is vital.
        </p>
        <h3 class="h3">1. Layout</h3>
        <p class="lead">
            Every landing page should have a consistent layout, a form and some catchy image or video,
            the video is the introduction of the product or service offering,
            keep the form short i.e collecting email, first and lastname can take sometime,
            we recommend collecting just an email address which is useful for contacting the client later, 
            this helps with re-targeting for marketing campaigns.

        </p>

        <h3 class="h3">2. User Support</h3>
        <p class="lead">Consider every user that visit your website,
            making the website complicated frustrates the end-users
        </p>
        <p class="lead">
            <ul class="lead">
                <li>Create a simple form that every end-user will understand</li>
                <li>Avoid complex animation on the forms, this just adds complexity</li>
                <li>Use proper captures to check form SPAM, avoid complicated reCaptures with images</li>
                <li>Not every is able to see, add support for assistive technology</li>
                <li>Ensure the forms are mobile friendly</li>
            </ul>
        </p>
        <h3 class="h3">3. Responsiveness</h3>
        <p class="lead">
            Making websites mobile friendly is a very important aspect,
            keep watch of font sizes, ensure the same message is communicated for all your website users,
            ensure the website page responds fast for smartphones,
            website speed improvements prevents users from leaving your website,
            keep the content updated, all landing page content should be relevant to boost SEO.
        </p>

        <p class="lead">
            Every page should be tested well, developers don't tend to have interest on business matters,
            why it matters to track the development cycle as a business owner,
            the critical mission is to get your sales funnel right,
            ensure that the flow covers all the steps required to close or get prospects,
            make it clear to the designers to highlight your brand,
            it should answer questions the user has in mind,
            clear requirements are to be addressed by the website,
            it doesn't help your business model to trick customers to sign up for newsletters,
            solve a problem that a customer has, don't just promise actually solve the problem,
            nothing frustrates than a service that guarantees 90% results but delivers 5% of work,
            build trust online with your customers, build a brand that lasts in their minds,
            keep them coming back to you for more information by staying relevant.
        </p>
         
    </div>
{{>footer}}