{{>header}}

    <div class="container my-5">
        <div class="row">
            <div class="col-md-8 shadow-sm my-5 p-3">
                <h1 class="h1">Verification cancelled</h1>
                <p class="lead">Please try again later.
                </p>

                <a href="/" class="btn btn-success p-3 shadow">Return home</a>
            </div>
        </div>
    </div>

{{>footer}}